*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: greenyellow;
    padding: 1rem;
    text-transform: uppercase;
    border: 1px solid #999;
    margin: 1rem auto;
}

.game-container {
    margin: 1rem;
    display: flex;
    /* border: 5px solid dodgerblue; */
}

.game-container .player {
    flex-grow: 1;
    border: 2px solid salmon;
}

.player__nombre {
    text-align: center;
    font: 1.5rem;
    padding: .25rem;
    text-transform: uppercase;
    color: cornflowerblue;
}

.dices-container {
    display: flex;
    justify-content: center;
    padding: .5rem;
    gap: .5rem;
}

.dice {
    /* border: 1px solid orange; */
}

.dice__img {
    width: 100%;
}

.player__btn-container {
    text-align: center;
    padding: 2rem 1rem;
}

.player__btn {
    padding: .5rem;
    border: 1px solid cornflowerblue;
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
    font-size: .5rem;
    cursor: pointer;
    transition: background .3s ease-in;
}

.player__btn:hover {
    background-color: rgb(16, 77, 139);
    border: 1px solid rgb(82, 141, 71);
}

.player__btn:disabled {
    background-color: rgb(149, 149, 149);
    border: 1px solid rgb(203, 203, 203);
    opacity: .5;
}


.player__score {
    text-align: center;
    padding: 1rem;
}

.player__score-text {
    font-size: .75rem;
}

.player__score-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: yellowgreen;
}

.hidden{
    display: none;
}